h1,h2,h3,h4, h5{
  font-family: 'BioRhyme', serif;
  color: #2d4768;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

p{
    font-family: 'Roboto', sans-serif;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #2d4768;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #77868d;
}

.button{
  background-color: #2d4768;
}

.button:hover{
  background-color: #E3C147;
}

a{
  color: #23518d;
}

a:hover{
  color: #E3C147;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background:#f8f8f8;
  background-image: repeating-linear-gradient(45deg,#f8f8f8, #d9c0f7 1px, #f8f8f8 1px, #f8f8f8 8px);
  color: #422d68;
  box-shadow: none !important;
  transition:all 0.3s ease;
}

  .portfolio-me .thumbnail:hover{
      -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
      transform: scale(1.02);
  }

  .portfolio-me p{
    font-size: 1em;
    color: #8a9397;
  }

  .portfolio-me a{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #23518d;
    font-size: 1em;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #E3C147;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
    transition:all 0.3s ease;
  }

  .portfolio-index .thumbnail:hover{
    box-shadow: 2px 2px 2px 2px rgba(45,71,104,0.5);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }

  .portfolio-index h5:hover{
    color: #E3C147;
    font-weight: 600;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 1em;
  color: #2d4768;
}

.portfolio-bio{
    line-height: 25px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1s; 
  -moz-animation:fadeIn ease-in 1s;
  animation:fadeIn ease-in 1s;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

@media print, screen and (max-width: 40em) {
 h1 {
   font-size: 1em;
 }
 h5.lead {
   font-size: .85em;
 }
}